nav {
	background-color: var(--bg-color);
	padding: 0.5rem;
}

ul {
	display: flex;
	gap: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

li[role='separator'] {
	flex-grow: 1;

	hr { border: none; }
}

iconify-icon {
	color: var(--primary-color);
	font-size: 1.5rem;
}
