article {
	display: grid;
	gap: 1rem;
	grid-template-areas:
		'image header'
		'content content'
		'footer footer';
	grid-template-columns: 5rem 1fr;
	grid-template-rows: auto auto auto;
}

picture {
	grid-area: image;
	place-self: center;

	& > router-link {
		display: flex;
		height: 100%;
		place-items: center;
		width: 100%;
	}

	::slotted(img) {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

header { grid-area: header; }

#content {
	grid-area: content;
	-webkit-line-clamp: 5;
	max-height: 10rem;
	overflow: hidden;
}

footer { grid-area: footer; }
