@import url('./variables.css');

:root {
	font-family: system-ui, sans-serif;
	font-size: 20px;
	line-height: 1.2;
	text-rendering: optimizelegibility;

	color-scheme: dark;
	accent-color: orange;
	color: snow;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background: radial-gradient(circle at bottom, darkslategray, black);
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

main {
	isolation: isolate;
}

[aria-disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}
